

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  transition: 0.3s ease;
  color: var(--fg-content);
}