//navbar
$nav-width: 290px;

$nav-list-padding-side: 21px;
$nav-list-padding-top: 14px;
$nav-list-font-size: 13pt;
$nav-list-height: 23px;

$nav-list-icon-weight: 2;

$nav-list-search-height: 18px;

//routes-notes
$notes-title-height: 60px;
$notes-title-search-font-size: 12pt;

$notes-menu-width: 250px;

$notes-menu-list-padding-side: 21px;
$notes-menu-list-padding-top: 14px;
$notes-menu-list-font-size: 13pt;
$notes-menu-list-height: 23px;

$notes-menu-title-font-size: 18pt;
$notes-menu-title-height: 40px;
$notes-menu-title-padding-side: 15px;