@import 'src/vars';

.notes-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  background-color: var(--bg-notes-menu);
  width: $notes-menu-width;
  z-index: 1;
  user-select: none;

  li{
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: $notes-menu-list-height;
    padding: 0 $notes-menu-list-padding-side;
    margin: $notes-menu-list-padding-top 0 0 0;
    opacity: 0.4;
    font-size: $notes-menu-list-font-size;
    font-weight: bolder !important;
    color: var(--fg-notes-menu);

    svg{
      fill: none;
      stroke: var(--fg-notes-menu);
      stroke-width: $nav-list-icon-weight;
      padding: 0 $notes-menu-list-padding-side 0 0;
      height: 100%;
    }
  }

  li:hover{
    opacity: 0.9;
  }

  .menu-item-title{
    opacity: 0.9;
    height: $notes-menu-title-height;
    font-size: $notes-menu-title-font-size;
    font-weight: bolder !important;
    color: var(--fg-notes-menu);
  }
}