.prompt{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-content);

  .inner-prompt{
    position: fixed;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    [class*="input-"]{
      background-color: var(--bg-title-ui);
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;
      border-width: 0;
      border-radius: 50px;
      font-size: 18pt;
      margin-top: 60px;
    }

    [class*="text-"]{
      opacity: 0.7;
      margin-top: 30px;
      text-align: center;
      margin-bottom: 0;
    }

    h1{
      font-size: 40pt;
    }

    h3{
      color: #a50c16;
      display: none;
    }

    .buttons{
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .button-next{
        margin-left: auto;
      }

      [class*="button-"]{
        cursor: pointer;
        background-color: var(--bg-title-ui);
        padding: 15px;
        height: 30px;
        width: 30px;
        border-radius: 1000px;

        svg{
          opacity: 0.6;
          overflow: hidden;
          height: 30px;
          width: 30px;
          stroke: var(--fg-content);
        }
      }
      
      [class*="button-"]:hover{
        svg{
          opacity: 1;
        }
      }
    }

    .text-username{
      display: none;
    }

    .input-password{
      display: none;
    }

    .input-repassword{
      margin-top: 20px;
    }

    img{
      opacity: 0.7;
      height: 200px;
      width: 200px;
      border-radius: 1000px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .login{
    .inner-login{
      width: 80%;
    }
  }
}